# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# Native build
.externalNativeBuild/
.cxx/

# Android Studio captures
captures/

# OS
.DS_Store
Thumbs.db

# 编译输出
app/release/